[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
setuptools = "*"
scrapy = "*"
dj-database-url = "*"
django-cors-headers = "*"
"psycopg2" = "*"
numpy = "*"
requests = "*"
twisted = {git = "https://github.com/twisted/twisted.git"}
python-decouple = "*"
"pypiwin32" = {version = "*", os_name = "== 'windows'"}
pytz = "*"

[dev-packages]
pylint = "*"
pylint-django = "*"

[requires]
python_version = "3.7"
